<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="main-navbar">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="navbar-fixed">
      <ul class="nav">
        <li class="nav-item">
          <h4>SquareHelp</h4>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</th:block>