<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/navbarlogin.css}" />

<th:block th:fragment="register-navbar">
    <nav id="largeNav" class="navbar navbar-expand-md navbar-dark bg-dark mb-4 w-100">
        <div class="navbar-fixed w-100">
            <ul class="nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="text-decoration-none" href="/"><img id="navbarLogoIdx" src="/img/Logo/shNavbarBrandLogo.png"></a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav id="smallNav" class="navbar navbar-dark bg-black">
        <a class="text-decoration-none"
           th:href="@{'/'}"><img id="navbarLogoIdxMobile" src="/img/Logo/shNavbarBrandLogo.png"></a>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
        </ul>
    </nav>
</th:block>