<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="dashboard-navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="navbar-fixed">
            <nav class="grey darken-4">
                <div class="nav-wrapper">
                    <a href="/" class="navbar-brand">SquareHelp</a>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{'/login'}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{'/register'}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{'/profile/' + ${users.id}}" >Profile</a></li>
                    </ul>
<!--                    ============= // Search Bar \\ ===========-->
                    <div class="input-group mb-3">
                        <form th:href="@{'/dashboard/' + ${users.id}}" method="post">
                            <input type="text" class="form-control" name="searchQuery" placeholder="Search Username..."
                                  aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" type="submit">Search</button>
<!--                                ==========-->
                            </div>
                        </form>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><img style="width:50px;" src="https://bit.ly/2OwkfEY" alt="profile image"></li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{'/profile/' + ${users.id}}"> <h3>Welcome </h3> <span th:text="${users.username}"></span> </a> </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{'/profile/' + ${users.id}}">Points <span th:text="${smoke.points}"></span> </a></li>
                    </ul>
                </div>
</th:block>

