.card_view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    margin: .5em;
    background: transparent;
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-img {
    border-radius: 50%;
    height: 75%;
    width: 75%;
}

.whoIs-links {
    margin-bottom: .5rem;
    color: blue !important;
}

.main-panel{
    left: 135px !important;
}

.nav{
    display: flex !important;
    flex-direction: row !important;
}

.contentBg{
    padding: .5rem 3rem .5rem 3rem;
}

main{
    height: auto;
}

h3{
    margin-bottom: 0.5rem;
}

p{
    margin-bottom: 0;
}

.navbar{
    display: flex !important;
}

ul{
    justify-content: flex-end;
}

/* Mobile view (992px max width) */
@media (max-width: 992px) {

    .bg-dark {
        background-color: black !important;
        height: 50px !important;
    }

    .contentBg {
        padding: 10px;
    }

    .card {
        width: 100%;
        height: auto;
        margin: auto auto 1rem auto;
    }

    .card_view {
        flex-direction: column;
        width: 100%;
    }

    .card-img {
        height: 292px;
        width: 292px;
    }

    .whoIs {
        margin: auto;
    }

    .whoIs-links {
        margin-bottom: 2rem;
    }

    .icons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

}