main {
    height: auto;
}

h5 {
    margin-bottom: 1rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 0;
}

.main-panel {
    left: 0;
    margin-left: 220px;
    position: inherit;
}

.headline {
    display: flex;
    flex-direction: column;
}

.custom-card-style {
    background: grey;
}

.custom-card-style2 {
    background: darkslategray;
}

.wrapper {
    margin: 0 auto;
}

.userRow {
    cursor: pointer;
}

.actions {
    margin-bottom: 1rem;
}

.apexcharts-toolbar, .apexcharts-menu-icon{
    display: none;
}

.apexcharts-canvas{
    position: relative;
    left: 50px;
    width: 100%;
}

.apexcharts-legend{
    position: relative !important;
    left: -10px !important;
    top: 43px !important;
}

#avgPointChart1, #avgPointChart2{
    transition:all 1s ease;
}

#chartCard1{
    width: 50%;
    transition:all 1s ease;
}

#chartCard2{
    width: 50%;
    transition:all 1s ease;
}

#profilePic{
    width: 16em;
    height: 16em;
    border-radius: 50%;
    margin-right: 5em;
}

.row{
    margin-bottom: 2em;
}

@media (max-width: 992px) {
    .contentBg {
        padding: 10px;
    }

    .container {
        max-width: 100% !important;
    }

    .main-panel {
        margin-left: 0;
        width: 100%;
    }

    .actions {
        width: 100% !important;
    }

    .mBtn {
        width: 100%;
        margin-top: .5rem;
    }

    footer {
        margin-top: 3rem;
    }

    body {
        width: 100% !important;
    }

    main {
        width: 100% !important;
    }

    .card {
        margin-top: 1rem;
    }

    .smokeFreePop {
        font-size: 3rem;
    }

    .headline {
        margin-top: .8rem;
    }
}



/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #chartCard1{
        width: 100%;
    }

    #chartCard2{
        width: 100%;
    }

    footer{
        padding: 0 !important;
    }

    .apexcharts-canvas{
        left: 25px !important;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #chartCard1{
        width: 100%;
    }

    #chartCard2{
        width: 100%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    #chartCard1{
        width: 100%;
    }

    #chartCard2{
        width: 100%;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{

    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    body{

    }
}