main {
    height: auto;
}

.headline {
    display: flex;
    flex-direction: column;
}

.custom-card-style {
    background: grey;
}

.custom-card-style2 {
    background: darkslategray;
}

.wrapper {
    margin: 0 auto;
}

.userRow{
    cursor: pointer;
}