navbar-fixed {
    width: 100% !important;
}

nav-wrapper {
    width: 100% !important;
    display: flex !important;
}

#dashboardResult{
    z-index: 2;
    position: absolute;
    top: 38px;
    background: white;
}