.nav{
    display: flex !important;
    flex-direction: row !important;
}

.nav-item{
    color: white;
}

.row{
    display: flex;
    justify-content: center;
}

.main-panel{
    margin: 2rem auto 2rem auto;
}

#smallNav{
    display: none;
}

@media (max-width: 992px) {

    .main-panel {
        position: initial;
        margin-top: 0;
    }

    #largeNav {
        display: none;
    }

    #smallNav {
        display: flex !important;
    }

    .notiSearch {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .input-group form {
        width: 100%;
    }

    #navbarSearch {
        width: 100% !important;
    }

    img {
        max-block-size: 190px;
        margin-left: -109px !important;
    }

    footer {
        margin-top: 0 !important;
        padding: 0 !important;
    }
}