/* Styling is specific to index.html */
.jumbotron {
    background: url("/img/index/jumbotron-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 15rem;
}

.wrapper img {
    display: block;
    margin: 0 auto;
}

.contentBg {
    background: #212121;
    padding: 1rem 3rem 1rem 3rem;
}

.card_view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    margin: .5em;
    border-radius: 2px;
    background: transparent;
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-img {
    border-radius: 50%;
    height: 75%;
    width: 75%;
}

.whoIs-links {
    margin-bottom: 1rem;
}