/* Styling is specific to index.html */
.container {
    background: url("/img/index/say_no_to_smoking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /*height: 43rem;*/
    color: white;
    max-width: none;
    height: 88vh;
}

main {
    padding-top: 10%;
}

.centerText{
    min-width: 50%;
    padding-top: 10rem;
}

.cta-btn {
    margin-top: 2.5rem;
}

.nav{
    display: flex !important;
    flex-direction: row !important;
    color: white;
    max-height: 46px;
    padding-bottom: 53px !important;
}

.display-4{
    display: flex;
    justify-content: center;
}

.lead{
    display: flex;
    justify-content: center;
}

.jumboWrapper {
    background: rgba(0,0,0,0.8);
    padding: 2rem;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#jumbotronLogo {
    width: 50%;
    margin: auto;
}

footer {
    background-color: #000000 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 0;

}
.footer-text{
    font-size: 25px;
}

footer a {
    color: white !important;
}

#mobileIndex {
    display: none;
}

#largeIndex {
    display: flex;
    flex-direction: row;
    background: #000000 !important;
    max-height: 60px;
    font-size: 25px;
}

#divideDiv {
    display: none;
}

h4 {
    font-size: 25px;
    margin-bottom: 0 !important;
    padding: 8px 16px;
    line-height: 0;
}

.navbar-brand{
    padding: 0px;
}



/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    footer{
        position: fixed;
        bottom: 0;
    }

    .container{
        height: 80vh;
        position: relative;
    }

    .footer-text{
        font-size: 15px;
    }
}

/* Mobile view (992px max width) */
@media (max-width: 992px) {

    .main-panel {
        position: initial;
        margin-top: 0;
    }

    #largeNav {
        display: none;
    }

    #smallNav {
        display: flex !important;
    }

    .jumboWrapper {
        width: auto;
    }

    .notiSearch {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .input-group form {
        width: 100%;
    }

    #navbarSearch {
        width: 100% !important;
    }

    #mobileIndex{
        display: flex !important;
        background-color: black !important;
    }

    #largeIndex{
        display: none;
    }

    #divideDiv {
        display: none;
    }

    .bg-dark{
        background-color: black !important;
        height: 50px;
    }

    .lead {
        font-size: 1.30rem;
        font-weight: 300;
        text-align: center;
    }
}