/* Styling is specific to login.html */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginWrapper {
    margin: auto;
    width: 100%;
}

.login-form-1{
    padding: 5%;
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}

input {
    color: #000;
}

#loginLogo {
    width: 30%;
    margin: auto;
}

body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 60px 100% 100px;

}

#largeNav{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.container{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer-row{
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

footer{
    margin-bottom: 0;
    background-color: black;
    color: blue;
}

.mb-4{
    margin-bottom: 0 !important;
}




/* Mobile view (992px max width) */
@media (max-width: 992px) {

    .contentBg {
        padding: 10px;
    }

    #loginLogo {
        width: 70%;
    }

}