img{
    max-block-size: 400px;
    margin-left: 90px !important;
}

.contactUs{
    color: blue !important;
}

.aboutUs{
    color: blue !important;
}


main{
    height: auto !important;
}

footer{
    margin-top: 0 !important;
}

@media (max-width: 992px) {

    body {
        background: none;
    }

    .main-panel {
        position: initial;
        margin-top: 0;
        margin-left: 0;
    }

    #largeNav {
        display: none;
    }

    #smallNav {
        display: flex !important;
    }

    .notiSearch {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .input-group form {
        width: 100%;
    }

    #navbarSearch {
        width: 100% !important;
    }

    img{
        max-block-size: 121px;
        margin-left: -72px !important;
        display: none !important;
        visibility: hidden !important;
    }

    footer{
        margin-top: 0 !important;
        padding: 0 !important;
    }
}