main {
    height: auto;
}

footer {
    margin-top: 0;
}

tr:hover {
    color: #ffffff !important;
}

th {
    font-size: 1.75rem;
}

.main-panel{
    margin-left: 293px;
}

td p {
    font-size: 1.25rem;
}

form textarea {
    width: 100% !important;
}

.table {
    background: grey !important;
    color: #ffffff !important;
}

.searchResultItem{
    cursor: pointer;
}

#messageUserResults{
    background: white;
}

.messageSendWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageConvoItem {
    margin-right: 10px;
}

.messageConvoName {
    font-style: italic;
}

.messageProfilePic {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.messageAreaBg {
    background-color: #ffffff;
    color: #000000;
    padding: 1rem;
    border-radius: 5px;
    border: lightgrey solid 2px;
}

.messageText {
    margin-bottom: .5rem;
}

#qrb {
    width: 100%;
}

.toFrom {
    display: inline-flex;
    flex-direction: row;
    margin-top: 2rem;
}

.msgWrapper {
    width: 100%;
}

.col-withDate {
    width: 232px;
}

#whoToSend {
    margin-top: 1.5rem;
}

#searchUserMessage {
    margin-top: 1rem;
}

.bg-info {
    width: auto;
    border-radius: 20px;
    padding: 5px 5px 7px 10px;
    width: fit-content;
    margin-left: auto;
    background: #b8e0e6 !important;
}

.convoWrapper {
    display: flex;
    flex-direction: column;
}

.convoWrapper p {}

.messageThem {
    background: #dad9d9;
    border-radius: 20px;
    padding: 5px 5px 7px 10px;
    width: fit-content;
}

/* Mobile view (992px max width) */
@media (max-width: 992px) {
    body {
        background: none;
    }

    .contentBg {
        padding: 10px;
    }

    .messageProfilePic {
        width: 22px;
        height: 22px;
    }

    .messageArea {
        width: 100%;
        position: relative;
    }

    .dates {
        display: none;
    }

    #whoToSend {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .messageSendWrapper {
        margin-top: 1.5rem;
    }

    .msgWrapper {
        margin-top: 1.5rem;
    }

    .main-panel {
        position: initial;
        margin-top: 0;
        margin-left: 0;
    }

}