main {
    height: auto;
}

tr:hover {
    color: #ffffff !important;
}

.table {
    background: grey !important;
    color: #ffffff !important;
}

.searchResultItem{
    cursor: pointer;
}

#messageUserResults{
    background: white;
}

.messageSendWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.toFrom {
    display: inline-flex;
    flex-direction: row;
    margin-top: 2rem;
}

.msgWrapper {
    width: 100%;
}

.col-withDate {
    width: 232px;
}

.messageAreaBg {
    background-color: #333A40;
    color: #ffffff;
    padding: 1rem;
}

.messageText {
    margin-bottom: .25rem;
}

#qrb {
    width: 100%;
}