main {
    height: auto;
}

tr:hover {
    color: #ffffff !important;
}

form textarea {
    width: 100% !important;
}

.table {
    background: grey !important;
    color: #ffffff !important;
}

.searchResultItem{
    cursor: pointer;
}

#messageUserResults{
    background: white;
}

.messageSendWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageConvoItem {
    margin-right: 10px;
}

.messageProfilePic {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.messageAreaBg {
    background-color: grey;
    color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
}

.messageText {
    margin-bottom: .25rem;
}

#qrb {
    width: 100%;
}

.toFrom {
    display: inline-flex;
    flex-direction: row;
    margin-top: 2rem;
}

.msgWrapper {
    width: 100%;
}

.col-withDate {
    width: 232px;
}

#whoToSend {
    margin-top: 1.5rem;
}

#searchUserMessage {
    margin-top: 1rem;
}

/* Mobile view (992px max width) */
@media (max-width: 992px) {

    .contentBg {
        padding: 10px;
    }

    .messageProfilePic {
        width: 22px;
        height: 22px;
    }

    .messageArea {
        width: 100%;
        position: relative;
    }

    .dates {
        display: none;
    }

    #whoToSend {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .messageSendWrapper {
        margin-top: 1.5rem;
    }

    .msgWrapper {
        margin-top: 1.5rem;
    }
}