.nav {
    display: inline-flex !important;
    flex-direction: row !important;
}

#largeNav {
    background-color: black !important;
}

#navbarLogoIdxMobile, #shLogoNavbar {
    width: 30%;
}

@media (max-width: 992px) {
    #shLogoNavbar {
        width: 114px;
    }

    #navbarLogoIdxMobile {
        width: 44px;
    }
}
