/* Styling is specific to notifications.html */
main {
    height: auto;
}

table {
    cursor: pointer;
}

.td-width-mod {
    width: auto;
    display: flex;
    justify-content: center;
}

#subTableLinks {
    padding: 0;
    display: flex;
    flex-direction: row;
}

#subTableLinks li {
    list-style-type: none;
    margin-right: 1rem;
}

.noti {
    width: 100%;
}