.profileWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profileWrapper-left {
    display: flex;
    flex-direction: column;
    max-width: 255px;
}

.profileWrapper-right {
    width: 100%;
}

.divideDiv {
    height: 3px;
    border: gray 2px solid;
}

.tdLeft {
    width: 50%;
}