.stats-start{
    /*padding: 0 auto;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.stats-end{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.profileWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profileWrapper-left {
    display: flex;
    flex-direction: column;
    max-width: 255px;
}

#profileImg {

}

#editBtn {

}

divideDiv {
    height: 3px;
    border: gray 2px solid;
}