.profileWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-panel {
    margin-left: 487px;
}

.profileWrapper-left {
    display: flex;
    flex-direction: column;
    max-width: 255px;
}

.profileWrapper-right {
    width: 100%;
}

.divideDiv {
    height: 3px;
    border: gray 2px solid;
}

.tdLeft {
    width: 50%;
}

#profileImg {
    width: 225px;
    height: 225px;
}
.editB{
    color: #000;
 }

.table{
    background-color: gray !important;
    color: #ffffff !important;
}

main{
    height: auto;
}

#smB{
    display: none;
}

/* Mobile view (992px max width) */
@media (max-width: 992px) {

    body {
        background: green;
    }

    .main-panel {
        position: initial;
        margin-top: 0;
    }

    #largeNav {
        display: none;
    }

    #smallNav {
        display: flex !important;
    }

    .notiSearch {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .input-group form {
        width: 100%;
    }

    #navbarSearch {
        width: 100% !important;
    }
.profileWrapper{
    display: flex !important;
    flex-direction: column;
}

#bigB{
    display: none;
}

#smB{
    display: flex !important;
}

.contentBg{
    padding: 10px !important;
}
.col-md-4{
    padding-left: 0 !important;
}
}
