/* This styling is to be used on all pages */
/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background: url("/img/index-bg.png");
  background: #000;
  color: #fff;
}

h3 {
  margin-bottom: 1.5rem;
}

input {
  color: #000;
}

/* Page Content */

.wrapper {
  margin: auto;
  background: #5a5a5a;
}

.nav-wrapper {
  width: 95% !important;
  margin: auto !important;
}

#csrf {
  display: none;
}

.contentBg {
  padding: 1rem 3rem 1rem 3rem;
  background: #212121;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  background: #212121;
  margin-bottom: 1rem;
  width: 100%;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

footer ul li {
  padding: 0;
  list-style-type: none;
}

.contentBg {
  padding: 1rem 3rem 1rem 3rem;
  background: #212121;
}