/* This styling is to be used on all pages */
/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

.bg-black {
  background: #000000;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

a:link {

}

a:hover {

}

a:active{

}

a:visited {

}

a:link,
a:hover,
a:active,
a:visited {
  color: #fff;
}


main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

main{
  height: auto;
}

body {
  /*background: url("/img/index-bg.png");*/
  background: #eee;
  color: #000;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr ;
  overflow-x: hidden;
}

#largeNav{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: max-content;
}

.footer-row{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  margin-bottom: 1.5rem;
}

input {
  color: #000;
}

.input-group {
  width: auto;
}

/* Page Content */

.wrapper {
  margin: auto;
  background: #5a5a5a;
}

.nav-wrapper {
  width: 95% !important;
  margin: auto !important;
}

#csrf {
  display: none;
}

.contentBg {
  padding: 1rem 3rem 1rem 3rem;
  background: #fff;
  border-radius: 5px;
}

.contentBgChild {
    top: 0;
}

.shContainer {
    width: 80%;
}

.main-panel {
  justify-content: center;
  flex-direction: column;
  left: 0px;
  margin-top: 2rem;
  margin-left: 250px;
  min-height: 90%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 200px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  height: 100%;
  background-color: #000;
}

.notiSearch {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-fixed {
  height: 100% !important;
}

.nav {
  flex-direction: column !important;
}

#navbarLogoIdx {
  width: 40px;
}

#navbarLogoIdxMobile {
  width: 114px;
}

/* footer */

.divideDiv {
  height: 1px;
  border: #DFDFDF 1px solid;
  width: 100%;
  margin-bottom: 1rem !important;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  background: #fff;
  margin-bottom: 1rem;
  width: 100%;
}

footer a {
  color: #212121 !important;
  text-decoration: underline !important;
}

footer a:hover {
  color: #8a8a8a !important;
  text-decoration: underline !important;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

footer ul li {
  padding: 0;
  list-style-type: none;
}

#smallNav{
  display: none;
}

.btn{
color: #0098FF !important;
background: white !important;
}

/* Mobile view (992px max width) */
@media (max-width: 992px) {

  footer {
    padding: 10px;
  }

  #navbarLogoIdxMobile {
    width: 35px;
  }

  .main-panel {
    position: initial;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }

  #largeNav {
    display: none;
  }

  #smallNav {
    display: flex !important;
  }

  #jumbotronLogo {
    width: 80%;
  }

  .notiSearch {
    width: 100%;
  }

  .input-group {
    width: 100%;
  }

  .input-group form {
    width: 100%;
  }

  #navbarSearch {
    width: 100% !important;
  }

  .contentBg {
    min-height: 80%;
    display: flex;
    flex-direction: column;
  }

  .contentBgChild {
      padding: 1rem 3rem 1rem 3rem;
  }

  footer {
    padding: 10px;
    height: 120px;
  }

}