/* This styling is to be used on all pages */
/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

a:link {

}

a:hover {

}

a:active{

}

a:visited {

}

a:link,
a:hover,
a:active,
a:visited {
  color: #fff;
}

main{
  height: auto;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background: url("/img/index-bg.png");
  background: #eee;
  color: #000;
}

h3 {
  margin-bottom: 1.5rem;
}

input {
  color: #000;
}

.input-group {
  width: auto;
}

/* Page Content */

.wrapper {
  margin: auto;
  background: #5a5a5a;
}

.nav-wrapper {
  width: 95% !important;
  margin: auto !important;
}

#csrf {
  display: none;
}

.contentBg {
  padding: 1rem 3rem 1rem 3rem;
  background: #212121;
  border-radius: 5px;
}

.main-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 250px;
  position: fixed;
  margin-top: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 200px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  height: 100%;
  background-color: #000;
}

.notiSearch {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-fixed {
  height: 100% !important;
}

.nav {
  flex-direction: column !important;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  background: #fff;
  margin-bottom: 1rem;
  width: 100%;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

footer ul li {
  padding: 0;
  list-style-type: none;
}

.contentBg {
  padding: 1rem 3rem 1rem 3rem;
  background: #fff;
}