main {
    height: auto;
}

h5 {
    margin-bottom: 2rem;
}

.custom-card-style {
    background: grey;
    /*color: grey;*/
}

.custom-card-style2 {
    background: darkslategray;
}

.verification-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.sentReq, .recRec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.expandBtn {
    max-width: 100px;
}

.verification-view-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.approve-veri {
    margin-top: 1rem;
}

#createVeri {
    margin: 1.5rem 0;
}

#result a {
    color: #000000;
}

.veriFormCreate {
    justify-content: center;
}

.verification-form-create-wrapper {
    margin: 1.5rem 0;
}

#invalidDate{
    display: none;
    position: relative;
    top: -10px;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    border-radius: .25rem;
}

#submit{
    display: block;
}





#profileImg {
    width: 225px;
    height: 225px;
    margin-bottom: 2rem !important;
}

.reqDesktopView{
    display: block;
}

.reqMobileView{
    display: none;
}

.main-panel{
    position: relative !important;
    left: 100px !important;
}



/* Mobile view (992px max width) */
@media (max-width: 992px) {

    .main-panel{
        position: relative !important;
        left: 0px !important;
    }


    .contentBg{
        padding: 1rem 1rem 1rem 1rem;
    }

    footer{
        padding: 1rem 1rem 1rem 1rem;
    }

    #search{
        /*border-color: #495057;*/
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: .375rem .75rem;
        height: calc(1.5em + .75rem + 2px);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .veriSearch:focus{

        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }



    .reqDesktopView{
        display: none;
    }

    .reqMobileView{
        display: block;
    }

    .mobile-card{
        border: 1px solid grey;
        border-radius: 12px;
        display: block;
        margin-bottom: 4px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;

    }

    .verReq-items{
        display: flex;
        flex-wrap: wrap;
    }

    .verReq-items p{
        flex-grow: 2;
    }

    .m-item1{
        margin-right: 67px;
    }

    .m-item2{
        margin-right: 70px;
    }

    .m-item3{
        margin-right: 62px;
    }
    .verReq-card1{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid grey;
        padding: 2px;
    }

    .verReq-card2{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid grey;
        padding: 2px;
    }

    .verReq-card3{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid grey;
        padding: 2px;
    }

    .verReq-card4{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid grey;
        padding: 2px;
    }

    .verReq-card5{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid grey;
        padding: 2px;
    }
}