main {
    height: auto;
}

.custom-card-style {
    background: grey;
    /*color: grey;*/
}

.custom-card-style2 {
    background: darkslategray;
}

.verification-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.sentReq, .recRec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.expandBtn {
    max-width: 100px;
}

.verification-view-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.approve-veri {
    margin-top: 1rem;
}

#createVeri {
    margin: 1.5rem 0;
}

#result a {
    color: #000000;
}

.veriFormCreate {
    justify-content: center;
}

.verification-form-create-wrapper {
    margin: 1.5rem 0;
}