main {
    height: auto;
}

.custom-card-style {
    background: grey;
    /*color: grey;*/
}

.custom-card-style2 {
    background: darkslategray;
}

.verification-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.sentReq, .recRec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.expandBtn {
    max-width: 100px;
}

.verification-view-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.approve-veri {
    margin-top: 1rem;
}

#createVeri {
    margin: 1.5rem 0;
}

#result a {
    color: #000000;
}

.veriFormCreate {
    justify-content: center;
}

.verification-form-create-wrapper {
    margin: 1.5rem 0;
}

#invalidDate{
    display: none;
    position: relative;
    top: -10px;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    /*background-color: red;*/
    border-radius: .25rem;

    /*// add class when the approved date match user input.*/
}

#submit{
    display: block;
}



