<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
  <th:block th:replace="partials/head :: main-header"/>
  <title>x Page</title>
  </head>
  <body>
    <!-- Navbar -->
    <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
    <main class="container">
      
      <section class="row contentBg">
        <!-- Page content goes here -->
        
      </section>
  
      <!-- Footer -->
      <div class="row">
        <th:block th:replace="partials/footer :: main-footer"/>
      </div>

    </main>

  </body>
</html>