<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partials/head :: main-header"/>
<title>Community Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" th:href="@{/css/navbarlogin.css}" />

<style>
    .loginWrapper{
        display: flex;
        justify-content: center;
    }
</style>

</head>

<body>

<!-- Navbar -->
<th:block th:replace="partials/navbar-login :: login-navbar"/>

<div class="container">

    <section class="row contentBg">
        <div class="loginWrapper contentBg">

                <img id="loginLogo" src="/img/Logo/shLogo.png">

        </div>
        <div id="chartCard1" class="card  ">
            <h5 class="card-header text-dark"> Community Stats </h5>
            <div id="avgPointChart1"></div>
        </div>
        <div >
            <table>
                <thead>
                <tr>
                    <th>Users on the site</th>
                </tr>
                </thead>
                <tbody th:each="user: ${users}">
                <tr>
                    <td th:text="${user.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>


