<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partials/head :: main-header"/>
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" th:href="@{/css/navbarlogin.css}" />
</head>

<body>

<!-- Navbar -->
<th:block th:replace="partials/navbar-login :: login-navbar"/>

<div class="container">
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <!-- Login Form -->
    <section class="row contentBg">
        <div class="loginWrapper contentBg">

                <img id="loginLogo" src="/img/Logo/shLogo.png">

        </div>
    </section>

</div>
</body>
</html>


