<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partials/head :: main-header"/>
<title>Community Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" th:href="@{/css/navbarlogin.css}" />

<style>
    .loginWrapper{
        display: flex;
        justify-content: center;
    }
</style>

</head>

<body>

<!-- Navbar -->
<th:block th:replace="partials/navbar-login :: login-navbar"/>

<div class="container">

    <!-- Login Form -->
    <section class="row contentBg">
        <div class="loginWrapper contentBg">

                <img id="loginLogo" src="/img/Logo/shLogo.png">

        </div>
    </section>

</div>
</body>
</html>


