<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="partials/head :: main-header"/>
    <link rel="stylesheet" th:href="@{/css/editprofile.css}"/>
    <title>SquareHelp - Edit Profile Page</title>
    </head>
    <body>
        <!-- Navbar -->
        <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
        
        <main class="container">
            <section class="row contentBg">
                <div class="editProfileWrapper">
<!--                    <form th:action="'/profile/' + ${users.id} + '/edit'" th:method="post" th:object="${users}">-->
                    <form action="https://request-inspector.glitch.me/" method="post" th:object="${users}">
                        <div class="editProfileWrapper-left col-md-4">
                            <img id="profileImg" class="mb-2" src="/img/profile/225.png">
    <!--                        <input type="file" id="updatePictures" name="pictures" accept="image/jpeg, image/png">-->
                            <input id="picker" class="file-input" type="file" name="profilePic"
                                   accept="image/jpeg, image/png" />
                            <input type="hidden" id="fileupload" name="file" />
                        </div>
                    <div class="editProfileWrapper-right">
                            <h1>Edit Profile</h1>
                            <div>
                                <label for="username">Edit Username: </label>
                                <input type="text" id="username" th:field="*{username}" th:value="${users.username}">
                            </div>
                            <div>
                                <label for="city">Edit City: </label>
                                <input type="text" id="city" th:field="*{city}" th:value="${users.city}">
                            </div>
                            <div>
                                <label for="state">Edit State: </label>
                                <input type="text" id="state" th:field="*{state}" th:value="${users.state}">
                            </div>
                
                            <div class="divideDiv mb-2"></div>
    
                            <button class="btn btn-outline-warning">Update</button>
                        </div>
                        </form>
                </div>
            </section>
            
            <!-- Footer -->
            <div class="row">
                <th:block th:replace="partials/footer :: main-footer"/>
                <th:block th:replace="partials/searchbar :: navbar-search"/>
                <script src="http://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
                <script src="/js/util/filestack-impl.js"></script>
            </div>
        
        </main>
    
    </body>
</html>