<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--  <th:block th:replace="partials/head :: main-header"/>-->
<!--  <title>SquareHelp - Learn to quit smoking today</title>-->
<!--  <link rel="stylesheet" th:href="@{/css/error.css}"/>-->
<!--  </head>-->

<!--  &lt;!&ndash; Navbar (specific for index) &ndash;&gt;-->
<!--  <nav id="largeNav" class="navbar navbar-expand-md justify-content-between">-->
<!--    <a class="text-decoration-none navbar-brand text-white"><img id="navbarLogoIdx" src="/img/Logo/shNavbarBrandLogo.png"></a>-->
<!--  -->
<!--    <div class="navbar-fixed">-->
<!--      <ul class="nav">-->
<!--        <li class="nav-item navbar-right">-->
<!--          <a class="nav-link" href="/login">Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item navbar-right">-->
<!--          <a class="nav-link" href="/register">Register</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<!--  <nav id="smallNav" class="navbar navbar-expand-md navbar-dark">-->
<!--    <div class="navbar-fixed">-->
<!--      <ul class="nav">-->
<!--        <li class="nav-item">-->
<!--          <img id="navbarLogoErrMobile" src="/img/Logo/shNavbarBrandLogo.png">-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/login">Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/register">Register</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--  -->
<!--  <body>-->
<!--    <main class="container contentBg main-panel">-->
<!--      -->
<!--      <section class="row">-->
<!--        <div class="container errorWrapper">-->
<!--          <h1 id="errorTxt">Error please try again</h1>-->
<!--        </div>-->
<!--      </section>-->
<!--      -->
<!--      &lt;!&ndash; Footer &ndash;&gt;-->
<!--      <section class="row">-->
<!--        <th:block th:replace="partials/footer :: main-footer"/>-->
<!--        <th:block th:replace="partials/searchbar :: navbar-search"/>-->
<!--      </section>-->
<!--      -->
<!--    </main>-->
<!--  </body>-->
<!--</html>-->


