<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
  <th:block th:replace="partials/head :: main-header"/>
  <title>Index Page</title>
  </head>
  <th:block th:replace="partials/navbar :: main-navbar"/>
  <body>
    <div class="container">
      <div class="row">
        <h1>Index Page</h1>
      </div>
  
      <!-- About Section -->
      <div class="row">
        <div class="about">
          <h1>About Us</h1>
          <div class="card_view">
        
            <!-- Michael -->
            <div class="card">
              <img src="https://avatars2.githubusercontent.com/u/52936520?s=460&v=4">
              <a href="Michael.McDonnell067@gmail.com">Email</a>
              <a href="https://github.com/Michael22936">GitHub</a>
              <a href="https://www.linkedin.com/in/michaelvmcdonnell/">LinkedIn</a>
            </div>
        
            <!-- Matt -->
            <div class="card">
              <img src="https://avatars3.githubusercontent.com/u/52936441?s=460&v=4">
              <a href="matthew.lopez4011@gmail.com">Email</a>
              <a href="https://github.com/mattlopez4011">GitHub</a>
              <a href="https://www.linkedin.com/in/matt-lopez4011/">LinkedIn</a>
            </div>
        
            <!-- Yael -->
            <div class="card">
              <img src="https://avatars0.githubusercontent.com/u/18481811?s=460&v=4">
              <a href="yaelrbrown@gmail.com">Email</a>
              <a href="https://github.com/yaelBrown">GitHub</a>
              <a href="https://www.linkedin.com/in/yaelrbrown/">LinkedIn</a>
            </div>
        
            <!-- Mitchell -->
            <div class="card">
              <img src="https://avatars1.githubusercontent.com/u/42749939?s=460&v=4">
              <a href="mitchell.arnold2019@gmail.com">Email</a>
              <a href="https://github.com/MitchellArnold">GitHub</a>
              <a href="https://www.linkedin.com/in/mitchell-g-arnold/">LinkedIn</a>
            </div>
      
          </div>
        </div>
      </div>
      
    </div>
  </body>
  <th:block th:replace="partials/footer :: main-footer">
</html>