<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="partials/head :: main-header"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <title>Index Page</title>
  </head>

  <!-- Navbar (specific for index) -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-fixed">
      <ul class="nav">
        <li class="nav-item">
          <a class="text-decoration-none"><h4>SquareHelp</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <body>
    <!-- Jumbotron-->
<main class="container">

        <div class="centerText">
            <h1 class="display-4">SquareHelp</h1>
            <p class="lead">Begin your journey to quite smoking today.</p>
            <div class="cta-btn">
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
              </p>
            </div>
        </div>


    </main>
    <div class="footerRow">
      <th:block th:replace="partials/footer :: main-footer"/>
    </div>
  
  </body>
</html>

