<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="partials/head :: main-header"/>
  <title>Login Page</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <th:block th:replace="partials/navbar :: main-navbar"/>

  <div class="container">
    <h1>Login page</h1>
    <div th:if="${param.error}">
      Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
      You have been logged out.
    </div>
    
    <form th:action="@{/login}" method="post">
      <div class="loginWrapper">
        <div class="row">
          <label for="username"><h5>Username</h5></label>
          <input type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div class="row">
          <label><h5>Password</h5></label><br>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="row">
          <button type="submit">Login</button>
          <button type="reset">Reset</button>
        </div>
        
      </div>
    </form>
    
  </div>
  
  <th:block th:replace="partials/footer :: main-footer"/>
</html>


