<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
  <th:block th:replace="partials/head :: main-header"/>
  <title>Login Page</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <th:block th:replace="partials/navbar :: main-navbar"/>

  <div class="container">
    <h1>Login page</h1>
    
    <form action="/login" method="post">
      <input id="csrf" value="something">
      <div class="loginWrapper">
      
      
      
      </div>
      
      
      
      
    </form>

      <input id="csrf" value="something">
      <div class="row">
        <button class="btn waves-effect waves-light grey darken-4" id="submit">Submit<i class="material-icons right">send</i></button>
        <button class="btn waves-effect waves-light grey darken-4" type="reset" name="reset" id="reset">reset</button>
      </div>
    </div>
    </div>

  </div>


  <th:block th:replace="partials/footer :: main-footer"/>
</html>
