<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
  <th:block th:replace="partials/head :: main-header"/>
  <title>Login Page</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <th:block th:replace="partials/navbar :: main-navbar"/>

  <div class="container">
    <h1>Login page</h1>
    
    <form action="/login" method="post">
      <input id="csrf" value="something">
      <div class="loginWrapper">
        <div class="row">
          <label for="username"><h5>Username</h5></label>
          <input type="text" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="row">
          <label><h5>Password</h5></label><br>
          <input type="password" id="password" name="password"><br>
          <input id="csrf" value="something">
        </div>
        <div class="row">
          <button type="submit">Login</button>
          <button type="reset">Reset</button>
        </div>
      </div>
    </form>
    
  </div>
  
  <th:block th:replace="partials/footer :: main-footer"/>
</html>


