<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partials/head :: main-header"/>
<title>x Page</title>
</head>
<body>
<!-- Navbar -->
<th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
<main class="container">
  
  <section class="row contentBg">
    <!-- Table to display received results results -->
    <div class="recRec">
      <h3>Recieved requests</h3>
      <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#recReqs" role="button">Expand</a>
      <div class="collapse show" id="recReqs">
        <table class="table table-hover table-dark text-center table-condensed">
          <thead>
          <tr>
            <th scope="col">Date Created</th>
            <th scope="col">Approver Name</th>
            <th scope="col">Days Smoke free</th>
            <th scope="col">Approved</th>
          </tr>
          </thead>
          <tbody>
          <div th:each="m : ${uniqueMsgs}">
            <tr
                    th:onclick="'window.location.href = \'' + @{/message/{recipId}/view(recipId=${m.recipient_user_id})} + '\''"
                style="cursor: pointer;">
              <td><p th:text="${rv.day_created}"></p></td>
              <td><p th:text="${rv.approver_name}"></p></td>
              <td><p th:text="${rv.days_smoke_free}"></p></td>
              <td th:if="${rv.is_approved == true}"><p>Yes</p></td>
              <td th:if="${rv.is_approved == false}"><p>No</p></td>
            </tr>
          </div>
          </tbody>
        </table>
      </div>
    </div>
  
  </section>
  
  <!-- Footer -->
  <div class="row">
    <th:block th:replace="partials/footer :: main-footer"/>
  </div>

</main>

</body>
</html>