<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="partials/head :: main-header"/>
    <title>Notifications Page</title>
    </head>
    <th:block th:replace="partials/navbar :: main-navbar"/>
    <body>
        <div class="container">
            <div class="row">
                <h1>Notifications Page</h1>
            </div>

            <form method="post" action="notification">
                <!-- Table to display results-->
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Mark as viewed</th>
                            <th scope="col">From</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="noti : ${notifications}">
                            <tr>
                                <td th:switch="${noti.isIs_viewed()}">
                                    <input th:case="true" class="form-check-input" type="checkbox" value="true"
                                           th:name="${noti.getId()}" checked>
                                    <input th:case="false" class="form-check-input" type="checkbox"
                                           value="false"
                                           th:name="${noti.getId()}">
                                </td>
                                <td><p th:text="${noti.getOriginator_user_id()}"></p></td>
                                <td><p th:text="${noti.getNotification()}"></p></td>
                             </tr>
                        </div>
                    </tbody>
                </table>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
            
            
            
            
        </div>
    </body>
    
    <th:block th:replace="partials/footer :: main-footer"/>
</html>