<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="partials/head :: main-header"/>
    <link rel="stylesheet" th:href="@{/css/notifications.css}" />
    <title>Notifications Page</title>
    </head>
    <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
    <body>
        <main class="container">
            
            <section class="row contentBg">
                <div class="row">
                    <h1>Notifications</h1>
                </div>
                
                <!-- Table to display notifications -->
                <table class="table table-hover table-dark text-center table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="noti : ${notifications}">
                            <tr>
                                <td><p th:text="${noti.getNotification()}"></p></td>
                            </tr>
                        </div>
                        <div th:each="message : ${messages}">
                            <tr>
                                <td><p th:text="${message.message}"></p></td>
                                <td><p th:text="${authorId.username}"></p></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </section>
            
            <!-- Footer -->
            <div class="row">
                <th:block th:replace="partials/footer :: main-footer"/>
            </div>
            
        </main>
    </body>
</html>