<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SquareHelp - profile</title>
<th:block th:replace="partials/head :: main-header"/>
</head>
<body>
<th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
    <h1>Profile Page</h1>
<div class="wrapper">
    <div th:each="user : ${users.username}">
        <h1 th:text="${user}"></h1>
        <h1 th:text="${users.city}"></h1>
        <h1 th:text="${users.state}"></h1>
        <h1 th:text="${moneySaved}"></h1>
        <h1 th:text="${smoke.points}"></h1>
        <h1 th:text="${smoke.total_days_smoke_free}"></h1>
    </div>
    <a th:href="@{'/profile/' + ${users.id} + '/edit'}" class="btn btn-warning btn-block">Edit Profile</a>
</div>
<th:block th:replace="partials/footer :: main-footer"/>
</body>
</html>