<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="partials/head :: main-header"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <title>Profile Page</title>
    </head>
    
    <body>
        <!-- Navbar -->
        <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
        
        <main class="container">
            
            <section class="row contentBg">
                <div class="profileWrapper">
                    <div class="profileWrapper-left col-md-4">
                        <img id="profileImg" class="mb-2" src="/img/profile/225.png">
    
                        <th:block th:if="${users.id == #authentication.principal.id}">
                            <a th:href="@{'/profile/' + ${users.id} + '/edit'}" class="btn btn-outline-warning">Edit Profile</a>
                        </th:block>
                        
                    </div>
                    <div class="profileWrapper-right">
                        <h1><span th:text="${users.username}"></span></h1>
                        <h3><span th:text="${smoke.points}"></span> points</h3>
                        <h5><span th:text="${users.city}"></span>, <span th:text="${users.state}"></span></h5>
            
                        <div class="divideDiv mb-2"></div>
            
                        <table class="table table-dark">
                            <tbody>
                                <tr>
                                    <td class="col tdLeft">Day quit smoking:</td>
                                    <td class="col"><span th:text="${smoke.day_quit_smoking}"></span></td>
                                </tr>
                                <tr>
                                    <td>Total days smoke free:</td>
                                    <td><span th:text="${smoke.total_days_smoke_free}"></span></td>
                                </tr>
                                <tr>
                                    <td>Average price of cigs:</td>
                                    <td>$<span th:text="${smoke.cost_of_cigs_saved}"></span></td>
                                </tr>
                                <tr>
                                    <td>Total amount saved:</td>
                                    <td><span th:text="${moneySaved}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>

            </section>
            
            <!-- Footer -->
            <div class="row">
                <th:block th:replace="partials/footer :: main-footer"/>
                <th:block th:replace="partials/searchbar :: navbar-search"/>
            </div>
        </main>
    </body>
</html>