<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partials/head :: main-header"/>
<title>SquareHelp - Verifications For User</title>
<link rel="stylesheet" href="/css/verification.css" />
</head>
<body>
<th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
<main class="container contentBg main-panel">
  
  <!-- /verification Content -->
  <div class="contentBg">
    <section>
      <th:block th:replace="partials/notiNsearch :: notiNsearch"/>
    </section>
    
    <section class="row">
      <div class="verification-form-wrapper">
        <h3>Who do you want to send the verification request to?</h3><br/>
        <input type="text" placeholder="Enter Username..."  name="username" id="search">
        <ul class="list-group" id="result"></ul>
      </div>
    </section>
    
    <!-- Footer -->
    <section class="row">
      <th:block th:replace="partials/footer :: main-footer"/>
      <th:block th:replace="partials/searchbar :: navbar-search"/>
      <script src="/js/message/message-one-api.js"></script>
    </section>
  </div>

</main>
</body>
</html>