<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/head :: main-header"/>
    <title>SquareHelp - verification.html</title>
    <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>

    <link rel="stylesheet" th:href="@{/css/verification.css}" />
</head>
<body>
<div class="wrapper">

    <h1>Verification</h1>


    <!--    <div class="card-body custom-card-style">-->
    <!--        <h5 class="card-title"><p>Smoke Free days</p></h5>-->
    <!--        <p class="card-text"><span th:text="${smoke.total_days_smoke_free}"></span></p>-->
    <!--    </div>-->




    <form action="/verification/" method="post">
        Request:
        <br />
        <select name="dropdown" id="s">
            <option selected="selected" value="one">Did I smoke today?</option>
            <option value="two">Did I smoke last week</option>
            <option value="three">Did I smoke on a specific day?</option>
        </select>
        <br />
        Description:
        <br />
        <input name="description" />
        <br />
        <input type="submit" value="Submit Verification"/>
    </form>





    <!--   ============ mobile stuff for this weekend ============-->
    <br />
    <br />
    <h1>Mobile Request: </h1>
    <form action="" method="get">
        <input type="number" name="to" />
        <input type="text" name="message" />

        <!--        <input type="hidden" name="app-id" value="1111111" />-->
        <!--        <input type="hidden" name="password" value="1111111" />-->
        <!--        <input type="hidden" name="from" value="TestSender" />-->

        <input type="submit" value="Submit" />
    </form>

</div>



<script src="/js/dashboard/dashboard.js"></script>

</body>
</html>