<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="partials/head :: main-header"/>
  <title>SquareHelp - Verifications For User</title>
  <link rel="stylesheet" href="/css/verification.css" />
  </head>
  <body>
  <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
    <main class="container contentBg main-panel">
      
      <!-- /verification Content -->
      <div class="contentBg">
        <section>
          <th:block th:replace="partials/notiNsearch :: notiNsearch"/>
        </section>
        
        <form th:action="@{/verification/{uid}/form/send/{rid}(uid=${users.getId()},rid=${recipient.getId()})}"
              method="post">
          <div class="verification-form-create-wrapper" style="display: flex; flex-direction: column; ">
            <input type="text" name="user_id" th:value="${users.getId()}" class="d-none"/>
            <input type="text" name="recip" th:value="${recipient.getId()}" class="d-none"/>
            <label for="date"><h5>Enter the date you did not smoke?</h5></label>
            <input type="date" name="date" id="date" class="mb-2 datePicker form-control " style="text-align: center;" required oninput="checkDate()">
            <div id="invalidDate" class="invalid-tooltip">Opps! You have entered a date that has been approved.</div>
            <button type="submit" id="submit" class="btn btn-outline-primary linkSub">Submit</button>
          </div>
        </form>

      </section>

      <script th:inline="javascript">

        let dateSubmit = document.querySelector(".datePicker");

        const userApprovedDaysList = [[${approvedDaysList}]];
        console.log(userApprovedDaysList);
        // const approvedDaysList = [[${approvedDays}]];
        // const userObjSignedIn = [[${signedInUser}]];
        // dateSubmit.addEventListener('keyup', (e) => {
        //   console.log("key pressed!!");

          // console.log(approvedDaysList);
          // console.log(userObjSignedIn);

        function checkDate(){
            let inputDate = document.getElementById("date").value;
            console.log("date Pickers Value : " + inputDate + " " + typeof inputDate);
            console.log("Input is not empty!!! :)");
          loopThruApprovedDates(inputDate);

        }

        function loopThruApprovedDates(inputDate) {
          userApprovedDaysList.map(approvedDay => {
            console.log(approvedDay); // 2019/11/12
            console.log("===days approved : " + approvedDay.day_created);
            if(inputDate === approvedDay.day_created ){

              console.log("=*=*=*=*=*=*=*==*= Matched input date with: " + approvedDay.day_created + " ❌❌❌");

              // Adds red border to input and red X
              document.getElementById("date").classList.add("is-invalid");

              // Shows the invalid date tooltip message
              document.getElementById("invalidDate").style.display = "block!important";

              // Hides the Submit button
              document.getElementById("submit").style.display = "none";

            }

          });

        }


      </script>



<!--        </section>-->

        <!-- Footer -->
        <section class="row">
          <th:block th:replace="partials/footer :: main-footer"/>
          <th:block th:replace="partials/searchbar :: navbar-search"/>
          <script src="/js/verification/verification-form.js"></script>
        </section>
      </div>
    
    </main>
  
  </body>
</html>