<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="partials/head :: main-header"/>
    <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
    <title>SquareHelp - Verifications For User</title>
    <link rel="stylesheet" th:href="@{/css/verification.css}" />
  </head>
  <body>
    <main class="container">
      <div class="row contentBg">
        <h1>Verifications</h1>
      </div>
      
      <section class="row contentBg">
      
      
      </section>
      
      <!-- Footer -->
      <div class="row">
        <script src="/js/dashboard/dashboard.js"></script>
        <th:block th:replace="partials/footer :: main-footer"/>
      </div>
    
    </main>
  
  </body>
</html>