<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="partials/head :: main-header"/>
    <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
    <title>SquareHelp - Verifications For User</title>
    <link rel="stylesheet" th:href="@{/css/verification.css}" />
  </head>
  <body>
  <th:block th:else="${users.id != #authentication.principal.id}">

<th:block th:if="${users.id == #authentication.principal.id}">
  <main class="container">
    <div class="row contentBg">
      <h1>Verifications</h1>
    </div>
    
    <!-- Button to create verification form -->
    <div class="row contentBg">
      <a class="btn btn-primary" role="button" th:href="@{'/verification/' + ${users.getId()} + '/form'}">Create
        Verification
        Form</a>
    </div>
    
    <section class="row contentBg">

      <!-- Table to display received results results -->
      <div class="recRec">
        <h3>Recieved requests</h3>
        <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#recReqs" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">Expand</a>
        <div class="collapsible" id="recRec">
          <table class="table table-hover table-dark text-center table-condensed">
            <thead>
            <tr>
              <th scope="col">Date Created</th>
              <th scope="col">Approver Name</th>
              <th scope="col">Days Smoke free</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="veri : ${verifications}">
              <tr>
                <td><p th:text="${veri.getDay_created()}"></p></td>
                <td><p th:text="${veri.getApprover_name()}"</td>
                <td><p th:text="${veri.getDays_smoke_free()}"></p></td>
              </tr>
            </div>
            </tbody>
          </table>
        </div>
      </div>
      
      <!-- Table to display sent results results -->
      <div class="sentReq">
        <h3>Sent requests</h3>
        <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#sentReqs" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">Expand</a>
        <div class="collapse" id="sentReqs">
          <table class="table table-hover table-dark text-center table-condensed">
            <thead>
            <tr>
              <th scope="col">Date Created</th>
              <th scope="col">Approver Name</th>
              <th scope="col">Days Smoke free</th>
            </tr>
            </thead>
            <tbody>
              <div th:each="veri : ${verifications}">
                <tr>
                  <td><p th:text="${veri.getDay_created()}"></p></td>
                  <td><p th:text="${veri.getApprover_name()}"</td>
                  <td><p th:text="${veri.getDays_smoke_free()}"></p></td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
  
    </section>
    
    <!-- Footer -->
    <div class="row">
      <script src="/js/dashboard/dashboard.js"></script>
      <th:block th:replace="partials/footer :: main-footer"/>
      <th:block th:replace="partials/searchbar :: navbar-search"/>
    </div>
  
  </main>
</th:block>
</th:block>
  </body>
</html>
