<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partials/head :: main-header"/>
<title>SquareHelp - Verifications</title>
<link rel="stylesheet" href="/css/verification.css" />
</head>
<body>
<th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>
<main class="container contentBg main-panel">

    <!-- /verification Content -->
    <div class="contentBg">
        <section>
            <th:block th:replace="partials/notiNsearch :: notiNsearch"/>
        </section>

        <section class="row">

            <!-- Button to create verification form -->
            <a class="btn btn-primary" role="button" id="createVeri"
               th:href="@{'/verification/' + ${users.getId()} + '/form'}">Create
                Verification
                Form</a>
            <br>

            <!-- Table to display received results results -->
            <div class="recRec">
                <h3>Received requests</h3>
                <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#recReqs" role="button">Collapse
                </a>
                <div class="collapse show" id="recReqs">
                    <table class="table table-hover text-dark text-center table-condensed">
                        <thead>
                        <tr>
                            <th scope="col">Date Created</th>
                            <th scope="col">Approver Name</th>
                            <th scope="col">Sender Name</th>
                            <th scope="col">Days Smoke free</th>
                            <th scope="col">Approved</th>
                            <th scope="col">Pending</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="rv : ${recVeri}">
                            <tr th:onclick="'window.location.href = \'' + @{/verification/{rvId}/view(rvId=${rv.getId()})} + '\''" style="cursor: pointer;">
                                <td><p th:text="${rv.day_created}" class="dates"></p></td>
                                <td><p th:text="${rv.approver_name}"></p></td>
                                <td><p th:text="${rv.getSender_name()}"></p></td>
                                <td><p th:text="${rv.days_smoke_free}"></p></td>
                                <td th:if="${rv.is_approved == true}"><p>Yes</p></td>
                                <td th:if="${rv.is_approved == false}"><p>No</p></td>
                                <td th:if="${rv.getIs_pending() == true}"><p>Yes</p></td>
                                <td th:if="${rv.getIs_pending() == false}"><p>No</p></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Table to display sent results results -->
            <div class="sentReq">
                <h3>Sent requests</h3>
                <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#sentReqs" role="button"
                   aria-expanded="false"
                   aria-controls="collapseExample">Expand</a>
                <div class="collapse" id="sentReqs">
                    <table class="table table-hover text-dark text-center table-condensed">
                        <thead>
                        <tr>
                            <th scope="col">Date Created</th>
                            <th scope="col">Approver Name</th>
                            <th scope="col">Sender Name</th>
                            <th scope="col">Days Smoke free</th>
                            <th scope="col">Approved</th>
                            <th scope="col">Pending</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="sv : ${sentVeri}">
                            <tr th:if="${sv.getIs_pending() == false}">
                                <td><p th:text="${sv.day_created}" class="dates"></p></td>
                                <td><p th:text="${sv.approver_name}"></p></td>
                                <td><p th:text="${sv.getSender_name()}"></p></td>
                                <td><p th:text="${sv.days_smoke_free}"></p></td>
                                <td th:if="${sv.is_approved == true}"><p>Yes</p></td>
                                <td th:if="${sv.is_approved == false}"><p>No</p></td>
                                <td th:if="${sv.getIs_pending() == true}"><p>Yes</p></td>
                                <td th:if="${sv.getIs_pending() == false}"><p>No</p></td>
                            </tr>
                            <tr th:if="${sv.getIs_pending() == true}" style="background: lightgray;">
                                <td><p th:text="${sv.day_created}" class="dates"></p></td>
                                <td><p th:text="${sv.approver_name}"></p></td>
                                <td><p th:text="${sv.getSender_name()}"></p></td>
                                <td><p th:text="${sv.days_smoke_free}"></p></td>
                                <td th:if="${sv.is_approved == true}"><p>Yes</p></td>
                                <td th:if="${sv.is_approved == false}"><p>No</p></td>
                                <td th:if="${sv.getIs_pending() == true}"><p>Yes</p></td>
                                <td th:if="${sv.getIs_pending() == false}"><p>No</p></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>




            <div class="recMobile">
                <h3>Received requests</h3>
                <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#recMobile" role="button">Collapse
                </a>
                <div class="collapse show" id="recMobile">
                    <div  th:each="rv : ${recVeri}">
                        <table th:onclick="'window.location.href = \'' + @{/verification/{rvId}/view(rvId=${rv.getId()})} + '\''" style="cursor: pointer;" class="table table-hover text-dark text-center table-condensed">
                            <tr th:if="${rv.getIs_pending() == false}">
                                <td>Verify Date: </td>
                                <td><p th:text="${rv.day_created}" class="dates"></p></td>
                            </tr>
                            <tr class="w-100" th:if="${rv.getIs_pending() == false}">
                                <td>Sender: </td>
                                <td><p th:text="${rv.getSender_name()}"></p></td>
                            </tr>
                            <tr class="w-100" th:if="${rv.getIs_pending() == false}">
                                <td>Days Smoke free: </td>
                                <td><p th:text="${rv.days_smoke_free}"></p></td>
                            </tr>
                            <tr class="w-100" th:if="${rv.getIs_pending() == false}">
                                <td>Approved</td>
                                <td th:if="${rv.is_approved == true}"><p>Yes</p></td>
                                <td th:if="${rv.is_approved == false}"><p>No</p></td>
                            </tr>
                            <tr class="w-100" th:if="${rv.getIs_pending() == false}">
                                <td>Pending</td>
                                <td th:if="${rv.getIs_pending() == true}"><p>Yes</p></td>
                                <td th:if="${rv.getIs_pending() == false}"><p>No</p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="sentMobile">
                <h3>Sent requests</h3>
                <a class="btn btn-secondary btn-sm mb-2 expandBtn" data-toggle="collapse" href="#sentMobile" role="button">Collapse
                </a>
                <div class="collapse show" id="sentMobile">
                    <div  th:each="sv : ${sentVeri}">
                        <table class="table table-hover text-dark text-center table-condensed">
                            <tr th:if="${sv.getIs_pending() == false}">
                                <td>Verify Date: </td>
                                <td><p th:text="${sv.day_created}" class="dates"></p></td>
                            </tr>
                            <tr class="w-100" th:if="${sv.getIs_pending() == false}">
                                <td>Sender: </td>
                                <td><p th:text="${sv.getSender_name()}"></p></td>
                            </tr>
                            <tr class="w-100" th:if="${sv.getIs_pending() == false}">
                                <td>Days Smoke free: </td>
                                <td><p th:text="${sv.days_smoke_free}"></p></td>
                            </tr>
                            <tr class="w-100" th:if="${sv.getIs_pending() == false}">
                                <td>Approved</td>
                                <td th:if="${sv.is_approved == true}"><p>Yes</p></td>
                                <td th:if="${sv.is_approved == false}"><p>No</p></td>
                            </tr>
                            <tr class="w-100" th:if="${sv.getIs_pending() == false}">
                                <td>Pending</td>
                                <td th:if="${sv.getIs_pending() == true}"><p>Yes</p></td>
                                <td th:if="${sv.getIs_pending() == false}"><p>No</p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </section>

        <!-- Footer -->
        <section class="row">
            <th:block th:replace="partials/footer :: main-footer"/>
            <th:block th:replace="partials/searchbar :: navbar-search"/>
            <script src="/js/message/message-one-api.js"></script>
        </section>
    </div>

</main>
</body>
</html>