<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/head :: main-header"/>
    <title>SquareHelp - verification.html</title>
    <th:block th:replace="partials/navbar-dashboard :: dashboard-navbar"/>

    <link rel="stylesheet" th:href="@{/css/verification.css}" />
</head>
<body>
<div class="wrapper">

    <h1>Verifications</h1>
    <button><a class="nav-link" th:href="@{'/verification/form/' + ${user_id}}">Create Verification Form</a></button>







</div>



<script src="/js/dashboard/dashboard.js"></script>

</body>
</html>